[package]
name = "kernel"
version = "0.1.0"
edition = "2024"

[dependencies]
bootloader_api = "0.11.12"

[dependencies.noto-sans-mono-bitmap]
version = "0.2.0"
default-features = false
features = [
    "regular",
    "size_16",
    "unicode-basic-latin",
    # required for the fallback char 'ï¿½'
    "unicode-specials",
]
[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[[bin]]
name="kernel"
test = false
bench = false