[package]
name = "kernel"
version = "0.1.0"
edition = "2024"

[dependencies]
bootloader_api = "0.11.12"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[[bin]]
name="kernel"
test = false
bench = false